<% if !current_user or current_user.role < 1 %>
    <h1 id="admin-reject-header">You do not have permission to view this page.</h1>
<% else %>
    <h1 id="admin-header">Enforcement Panel</h1>

    <div id="threads-reported">
        <h2 id="threads-reported-header">Threads Reported</h2>

        <% @forumthreads.each do |forumthread| %>
            <p><%= forumthread.title %>, <%= forumthread.report_weight %></p>
        <% end %>
    </div>

    <div id="posts-reported">
        <h2 id="posts-reported-header">Posts Reported</h2>

        <table class="show-posts">
            <tbody>
                <% @posts.each do |post| %>
                    <% if post.is_banned == false %>
                        <tr>
                            <% if post.user.is_banned == false %>
                                <td class="author-name-cell blue-link"><%= link_to post.user.username, user_path(post.user) %></td>
                            <% else %>
                                <td class="banned-user-link"><%= post.user.username %></td>
                            <% end %>
                            <td class="post-body-date-container">
                                <span class="post-date-spans"><%= time_ago_in_words(post.created_at).gsub('about','') %> ago</span>
                                <div class="post-container">
                                    <p class="post-body"><%= post.body %></p>
                                    <p class="report-post"><%= link_to 'Ban', forumthread_post_path(post.forumthread, post),
                                        method: :delete %></p>
                                </div>
                            </td>
                        </tr>
                    <% end %>
                <% end %>
            </tbody>
        </table>
    </div>
<% end %>