<% if @user == current_user %>
    <h1 id="my-profile-header">My Profile</h1>
    <% if current_user and current_user.role == 1 %>
        <h3 id="rank-header">(Moderator)</h3>
    <% elsif current_user and current_user.role == 2 %>
        <h3 id="rank-header">(Administrator)</h3>
    <% elsif current_user and current_user.role == 3 %>
        <h3 id="rank-header">(Supreme Emperor)</h3>
    <% end %>
    <div id="profile-top">
        <div class="profile-info-container-top">
            <h3 class="profile-info">Username: <%= @user.username %></h3>
        </div>
        <div class="profile-info-container-top">
            <% if @user.posts.count > 0 %>
                <h3 class="profile-info">Latest post: <%= 
                    time_ago_in_words(@user.posts.last.created_at).gsub('about','') %> ago</h3>
            <% else %>
                <h3 class="profile-info">Latest post: none</h3>
            <% end %>
        </div>
    </div>
<% else %>
    <% if @user.is_banned == false %>
        <h1 id="username-header"><%= @user.username %></h1>
    <% else %>
        <h1 id="username-header" class="banned-username-header"><%= @user.username %></h1>
    <% end %>
    <% if @user.role == 1 %>
        <h3 id="rank-header">(Moderator)</h3>
    <% elsif @user.role == 2 %>
        <h3 id="rank-header">(Administrator)</h3>
    <% elsif @user.role == 3 %>
        <h3 id="rank-header">(Supreme Emperor)</h3>
    <% end %>
    <div id="profile-top">
        <div class="profile-info-container-top">
            <h3 class="profile-info">Last online: <%=
                time_ago_in_words(@user.last_sign_in_at).gsub('about','') %> ago</h3>
        </div>
        <div class="profile-info-container-top">
            <% if @user.posts.count > 0 %>
                <h3 class="profile-info">Latest post: <%= 
                    time_ago_in_words(@user.posts.last.created_at).gsub('about','') %> ago</h3>
            <% else %>
                <h3 class="profile-info">Latest post: none</h3>
            <% end %>
        </div>
    </div>
<% end %>

<div id="profile-bottom">
    <div class="profile-info-container-bottom">
        <% if @user.forumthreads.count > 0 %>
            <h3 class="profile-info profile-threads-box">Threads started: <%= @user.forumthreads.count %></h3>
        <% else %>
            <h3 class="profile-info profile-threads-box">Threads started: 0</h3>
        <% end %>
    </div>
    <div class="profile-info-container-bottom">
        <% if @user.posts.count > 0 %>
            <h3 class="profile-info">Posts: <%= @user.posts.count %></h3>
        <% else %>
            <h3 class="profile-info">Posts: 0</h3>
        <% end %>
    </div>
</div>

<% if current_user and @user != current_user and current_user.role > 1 and @user.role < current_user.role %>
    <div id="admin-actions">
        <h2 id="admin-actions-header">Actions</h2>
        <div id="admin-action-links">
            <p class="ban-user"><%= link_to "Ban", user_path(@user), method: :delete %></p>
            <p class="blue-link"><%= link_to "Promote", promote_user_path(@user) %></p>
            <p class="blue-link"><%= link_to "Demote", demote_user_path(@user) %></p>
        </div>
    </div>
<% end %>