<%= form_with(model: forumthread, local: true) do |form| %>
  <% if forumthread.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(forumthread.errors.count, "error") %> prohibited this forumthread from being saved:</h2>

      <ul>
        <% forumthread.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="thread-title-entry" class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div id="thread-initial-post-entry" class="field">
    <%= form.label :initial_post %>
    <%= form.text_area :initial_post, size: "50x5" %>
  </div>

  <div id="thread-submit-button" class="actions">
    <%= form.submit "Create Thread" %>
  </div>
<% end %>
