<%= form_with(model: forumthread, local: true) do |form| %>
  <% if forumthread.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(forumthread.errors.count, "error") %> prohibited this forumthread from being saved:</h2>

      <ul>
        <% forumthread.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :replycount %>
    <%= form.number_field :replycount %>
  </div>

  <div class="field">
    <%= form.label :initial_post %>
    <%= form.text_area :initial_post %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
