<h1 id="threads-header">Threads</h1>

<table class="border-table">
  <tbody>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Replies</th>
      <th>Latest reply</th>
      <th>Created</th>
      <% if current_user and current_user.role > 0 %>
        <th colspan="3">Actions</th>
      <% end %>
    </tr>
    <% @forumthreads.each do |forumthread| %>
      <tr class="show-thread-row">
        <td class="thread-links"><%= link_to forumthread.title, forumthread %></td>
        <td class="blue-link"><%= link_to forumthread.user.username, user_path(forumthread.user) %></td>
        <td><%= forumthread.replycount %></td>
        <% if forumthread.posts.count > 0 %>
          <td><%= time_ago_in_words(forumthread.posts.last.created_at).gsub('about','') %> ago<br>
              by <span class="blue-link"><%= link_to forumthread.posts.last.user.username,
                                            user_path(forumthread.posts.last.user) %></span></td>
        <% else %>
          <td><p>none</p></td>
        <% end %>
        <td><%= time_ago_in_words(forumthread.created_at).gsub('about','') %> ago</td>
        <% if current_user and current_user.role > 0 %>
          <td class="ban-thread"><%= link_to 'Ban Thread', forumthread, method: :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
