<h1 id="threads-header">Threads</h1>

<table class="border-table">
  <tbody>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Replies</th>
      <th>Latest reply</th>
      <th>Created</th>
      <th colspan="3"></th>
    </tr>
    <% @forumthreads.each do |forumthread| %>
      <tr>
        <td class="thread-links"><%= link_to forumthread.title, forumthread %></td>
        <td><%= forumthread.user.username %></td>
        <td><%= forumthread.replycount %></td>
        <td><%= time_ago_in_words(forumthread.posts.last.created_at).gsub('about','') %> ago<br>
            by <%= forumthread.posts.last.user.username %></td>
        <td><%= time_ago_in_words(forumthread.created_at).gsub('about','') %> ago</td>
        <td class="ban-thread"><%= link_to 'Ban Thread', forumthread, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
