<p id="notice"><%= notice %></p>

<h1>Forumthreads</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Replycount</th>
      <th>CreatedAt</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forumthreads.each do |forumthread| %>
      <tr>
        <td><%= forumthread.title %></td>
        <td><%= forumthread.replycount %></td>
        <td><%= forumthread.created_at %></td>
        <td><%= link_to 'Show', forumthread %></td>
        <td><%= link_to 'Edit', edit_forumthread_path(forumthread) %></td>
        <td><%= link_to 'Destroy', forumthread, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Forumthread', new_forumthread_path %>
<% end %>
