<p id="notice"><%= notice %></p>

<h1>Threads</h1>

<table class="border-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Replies</th>
      <th>Latest reply</th>
      <th>Created</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forumthreads.each do |forumthread| %>
      <tr>
        <td><%= link_to forumthread.title, forumthread %></td>
        <td><%= forumthread.user.username %></td>
        <td><%= forumthread.replycount %></td>
        <td><%= time_ago_in_words(forumthread.posts.last.created_at).gsub('about','') %> ago<br>
            by <%= forumthread.posts.last.user.username %></td>
        <td><%= time_ago_in_words(forumthread.created_at).gsub('about','') %> ago</td>
        <td><%= link_to 'Ban Thread', forumthread, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Thread', new_forumthread_path %>
<% end %>
