<p id="notice"><%= notice %></p>

<p class="thread-back-reply"><%= link_to "Back to Threads", root_path %></p>

<table class="border-table">
  <tbody>
    <tr>
      <th colspan="2"><%= @forumthread.title %></th>
    </tr>
    <% if @forumthread.initial_post.length > 0 %>
      <tr>
        <td><%= @forumthread.user.username %></td>
        <td>
        <span class="post-date-spans"><%= time_ago_in_words(@forumthread.created_at).gsub('about','') %> ago</span>
          <br>
          <br>
          <p class="post-body"><%= @forumthread.initial_post %></p>
        </td>
        <td class="ban-thread"><%= link_to 'Ban Thread', forumthread_path, method: :delete %></td>
      </tr>
    <% end %>
    <% @forumthread.posts.each do |post| %>
      <tr>
        <td><%= post.user.username %></td>
        <td>
          <span class="post-date-spans"><%= time_ago_in_words(post.created_at).gsub('about','') %> ago</span>
          <br>
          <br>
          <p class="post-body"><%= post.body %></p>
        </td>
        <td class="ban-post"><%= link_to 'Ban Post', forumthread_post_path(post.forumthread.id, post), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p class="thread-back-reply"><%= link_to "Reply", new_forumthread_post_path(@forumthread.id) %></p>
