<p class="thread-back-reply"><%= link_to "Back to Threads", root_path %></p>

<table class="show-posts">
  <tbody>
    <tr class="thread-title-row">
      <th colspan="2"><p class="thread-title-par"><%= @forumthread.title %></p></th>
    </tr>
    <% if @forumthread.initial_post.length > 0 %>
      <tr>
        <% if @forumthread.user.is_banned == false %>
          <td class="author-name-cell blue-link">
            <% if @forumthread.user.image.length > 0 and @forumthread.user.image != nil %>
              <%= image_tag(@forumthread.user.image_url(:post)) %>
            <% else %>
              <%= image_tag("test.png", width: 100) %>
            <% end %>
            <div class="post-author-info-container">
              <%= link_to @forumthread.user.username, user_path(@forumthread.user) %>
            </div>
          </td>
        <% else %>
          <td class="banned-user-link">
            <div class="post-author-info-container">
              <p class="post-banned-user-text"><%= @forumthread.user.username %></p>
            </div>
          </td>
        <% end %>
        <td class="post-body-date-container">
          <span class="post-date-spans"><%= time_ago_in_words(@forumthread.created_at).gsub('about','') %> ago</span>
          <div class="post-container initial-post-container">
            <p class="post-body"><%= @forumthread.initial_post %></p>
              <% if @forumthread.user.signature != nil and @forumthread.user.signature != '' %>
                <div class="post-signature-container">
                  <p class="post-signature">- <%= @forumthread.user.signature %></p>
                </div>
              <% end %>
          </div>
        </td>
      </tr>
    <% end %>
    <% @forumthread.posts.each do |post| %>
      <tr>
        <% if post.user.is_banned == false %>
          <td class="author-name-cell blue-link">
            <% if post.user.image.length > 0 and post.user.image != nil %>
              <%= image_tag(post.user.image_url(:post)) %>
            <% else %>
              <%= image_tag("test.png", width: 100) %>
            <% end %>
            <div class="post-author-info-container">
              <%= link_to post.user.username, user_path(post.user) %>
            </div>
          </td>
        <% else %>
          <td class="banned-user-link">
            <div class="post-author-info-container">
              <p class="post-banned-user-text"><%= post.user.username %></p>
            </div>
          </td>
        <% end %>
        <td class="post-body-date-container">
          <span class="post-date-spans"><%= time_ago_in_words(post.created_at).gsub('about','') %> ago</span>
          <% if post.is_banned == false %>
            <div class="post-container">
              <p class="post-body"><%= post.body %></p>
              <% if post.user.signature != nil and post.user.signature != '' %>
                <div class="post-signature-container">
                  <p class="post-signature">- <%= post.user.signature %></p>
                </div>
              <% end %>
              <% if current_user and current_user.role == 0 %>
                <p class="report-post"><%= link_to 'Report', report_post_path(@forumthread, post) %></p>
              <% elsif current_user and current_user.role > 0 %>
                <p class="report-post"><%= link_to 'Ban', forumthread_post_path(@forumthread, post),
                    method: :delete %></p>
              <% end %>
            </div>
          <% else %>
            <div class="post-container">
              <p class="post-body">[Content Deleted]</p>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p class="thread-back-reply"><%= link_to "Reply", new_forumthread_post_path(@forumthread.id) %></p>
