<%= form_with(model: category, local: true, :url => categories_path) do |form| %>
    <% if category.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

            <ul>
            <% category.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    <div id="category-name-entry" class="field form-inputs">
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <div id="category-submit" class="actions form-actions">
        <%= form.submit "Create Category" %>
    </div>
<% end %>
