<!DOCTYPE html>
<html>
  <head>
    <title>Forumipsum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <header id="main-header">
      <h1><%= link_to "forum ipsum", root_path %></h1>
      
      <% if user_signed_in? %>
        <p>Hello, <%= current_user.username %>!</p>
        <p><%= link_to "Log Out", destroy_user_session_path,
              :method => :delete %></p>
      <% else %>
        <p><%= link_to "Log In", new_user_session_path %></p>
        <p><%= link_to "Sign Up", new_user_registration_path %></p>
      <% end %>
    </header>

    <hr>

    <%= yield %>
  </body>
</html>
